.main{
  color: #000000;
  font-family: Arial;
  font-style: normal;
}

/* header block start */

.beboss-main__header_block{
  background: linear-gradient(180deg, #ECEEF2 0%, rgba(236, 238, 242, 0) 100%);
}
.beboss-main__medal{
  display: flex;

}
.beboss-main__medal-image{
  width: 60px;
  height: 60px;
}
.beboss-main__medal-text{
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
}
.beboss-main__medal-text .medal-title{
  font-weight: normal;
}

.beboss-main__video_title{
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  align-items: center;
}
video {
  width: 100%;
  height: auto;
  max-height: 100%;
  }
.beboss-main__video{
  display: flex;
  justify-content: space-between;
}
.beboss-main__video-vote{
  font-weight: normal;
  align-items: center;
}
.beboss-main__video-vote-title{
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  }
.beboss-main__video-vote-text{
  font-size: 16px;
  line-height: 24px;
}
.beboss-main__video-vote-count{
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}
.social_vote{
  width: 256px;
  height: 60px;
}

/* header bloch end */

/* vip solution start */

.beboss-main__vip-solution{
  display: flex;
}
.beboss__vip-solution-logo{
  border-radius: 8px;
  width: 152px;
  height: 114px;
}
.beboss-main__vip-solution-header{
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  align-items: center;
}
.beboss-main__vip-solution-text{
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
}
.beboss-main__vip-solution-link{
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
}

.beboss-main__vip-solution_representative-content{
  display: flex;
}
.beboss-main__vip-solution_representative-logo{
  width: 48px;
  height: 48px;
  border-radius: 45px;
}
.beboss-main__vip-solution_lampa{
  width: 24px;
  height: 24px;
}
.beboss-main__vip-solution_representative_fio{
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
}
.beboss-main__vip-solution_representative_signature{
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
}
.beboss-main__vip-solution_btn{
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  background: #0D870D;
  border-radius: 6px;
  padding: 13px 36px;
}

/* vip solution end */

/* about company start */

.beboss-main__about-company_title{
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}
.beboss-main__about-company_text{
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.beboss-main__franchise-table{
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.beboss-main__franchise-table_title{
  color: rgba(0, 0, 0, 0.52);
}
.beboss-main__franchize-download{
  text-align: center;
}
.beboss-main__franchize-download_content{
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
.beboss-main__franchise-cost{
  background: rgba(30, 160, 30, 0.1);
  border-radius: 16px;
}
.beboss-main__description-title{
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}
.beboss-main__franchize-description_text{
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.beboss-main__about-company_fotos{
  display: flex;
  justify-content: space-between;
}
.beboss-main__about-company_foto{
  width: 196px;
  height: 196px;
  border-radius: 16px;
}
/* about company end */

/* representative form start */

.beboss-main__representative_form{
  display: flex;
  background: #ECEEF2;
  border-radius: 16px;
}
.beboss-main__form-header{
  display: flex;
}
.beboss-main__forma-textarea{
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.beboss-main__forma-capcha{
  display: flex;
}
.beboss-main__forma-capcha_desc{
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.beboss-main__forma-capch_sec-check{
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;  
}
.beboss-main__forma-capcha-submit{
  background: #0D870D;
  border-radius: 6px;  
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.beboss-main__form-sec-footer{
  display: flex;
}
.beboss-main__form-sec_text{
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  align-items: center;
  color: rgba(0, 0, 0, 0.4);
}
.beboss-main__representative-discuss_title{
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
.beboss-main__discuss-list{
  display: flex;
}
.beboss-main__discus-list_marker{
  width: 24px;
  height: 24px;
}
.beboss-main__discus-list_text{
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

/* representative form end */

/* other members start */

.beboss-main__other-title{
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
}
.beboss-main__other-videos{
  display: flex;
}
.beboss-main__movie-container{
  border-radius: 16px;
}
.beboss-main__other-member_header{
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}
.beboss-main__other-member_desc{
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.beboss-main__other-member_link{
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
.beboss-main__other-members_button{
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}
.beboss-main__other-members_link{
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

/* other members end */